{%extends "AppCoder/padre.html"%}
{%load static%}
{%block contenidoQueCambia%}

    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
        <h1>Adopciones</h1>
        <p>¿Querés buscarle un hogar a un animal?</p>

        <p>Formulario </p>
        Ingresar los datos del animal y luego los tuyos:
        tener en cuenta: edad(si tiene meses ingresar 0. y luego los meses) // tipo(canino, felino, ave, etc.)//
        <br>
        <form action=""  method="post">{% csrf_token %}
            <table>
                {{miFormulario.as_table}}
            </table>
            <input type="submit",value="Enviar">
        </form>

{%endblock%}